@import url('./blocks/page/page.css');
@import url('./blocks/game/game.css');
@import url('./blocks/cubes/cubes.css');
@import url('./blocks/questions/quesitons.css');


.button {
  width: 70px;
  height: 30px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #56c3ea;
  border: none;

  font-size: 16px;
  color: #fff;
}

.button:hover:not(.button_wrong, .button:disabled, .button_right) {
  background-color: #AFEEEE;
}

.button:disabled {
  background-color: #A9A9A9;
}

.button_right {
  background-color: #228B22;
}

.button_wrong {
  background-color: #FA8072;
}